<ul class="collection with-header">
  <li class="collection-item active"><h6><%= 'Protocolo da reclamação: ' + complaint.id.to_s %></h6></li>
  <li class="collection-item"><%= complaint.subject %></li>
  <li class="collection-item"><%= complaint.complaint_type %></li>
  <li class="collection-item"><%= complaint.content %></li>
  <li class="collection-item"><%= link_to 'Alterar reclamação', edit_complaint_path(complaint) %></li>
</ul>
<br/>
