<%= form_for @complaint do |f| %>
  <div class="input-field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="input-field">
    <%= f.label :complaint_type %>
    <%= f.text_field :complaint_type %>
  </div>
  <div class="input-field">
    <%= f.label :content %>
    <%= f.text_area :content, class:'materialize-textarea' %>
  </div>
  <div class="input-field center-align">
    <%= f.submit 'Enviar Reclamação', class: 'btn' %>
  </div>
<% end %>
