<!DOCTYPE html>
<html>
  <head>
    <title>SAC Solution</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render partial: '/layouts/topbar' %>
    </header>
    <main>
    <%= render partial: '/layouts/sidebar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
    <footer>
      <%= render partial: '/layouts/footer' %>
    </footer>
  </body>
</html>
