<!DOCTYPE html>
<html>
  <head>
    <title>SAC Solution</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <%= render partial: '/layouts/topbar' %>
    </header>
    <main>
    <div class="row container">
      <div class="col s12">
        <div class="row">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
    </main>
    <footer>
      <%= render partial: '/layouts/footer' %>
    </footer>
  </body>
</html>
